@import "../common/resources";

.root {
    position: relative;
    width: 70%;
    margin-bottom: 32px;
    padding: 32px;
    background-color: $color-white;
    box-shadow: 0 4px 10px 0 rgba($color-black, 0.16);
    border-radius: 16px;

    &:last-of-type {
        margin-bottom: 0;
    } 
}

// .latest {
//     position: relative;
//     width: 20%;
//     margin-top: -420px;
//     padding: 32px;
//     background-color: $color-white;
//     box-shadow: 0 4px 10px 0 rgba($color-black, 0.16);
//     border-radius: 16px;
//     float: right;

//     // position: fixed;
//     // position: relative;
//     // margin-top: -1120px;
//     // margin-left: 1000px;


//     &:last-of-type {
//         margin-bottom: 0;
//     } 
// }


.latest {
  position: absolute;
  margin-top: -1642px;
  margin-left: 902px;


  // position: static;
  width: 25%;
  // margin-top: -1120px;
  padding: 32px;
  background-color: $color-white;
  box-shadow: 0 4px 10px 0 rgba($color-black, 0.16);
  border-radius: 16px;
  // float: right;

  &:last-of-type {
      margin-bottom: 0;
  } 
}

table {
     width: 100%;
     height: 100%;
     position: relative;
    // width: 800px;
    // height: 200px;
    border-collapse: separate;
    border-spacing: 0 15px;
  }
 
    
  .other {
     color: rgb(185, 185, 185);
  }

th {
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    // padding-right: 26px;
  }


// .wspace{
//   padding-right: 100px;
// }

.wgoal{
  padding-right: -100px;
  text-align: right;
}

  // tr:hover {background-color: coral;}


  // td {
  //   text-align: left;
  //   border-bottom: 1px solid rgb(126, 0, 0);
  //   // padding-bottom: 10px;
  // }
  
  // td{
  //   // display:block;
  //   display:flex;
  // }

// tr {
//    border-bottom:1px solid rgb(214, 48, 48);

//   }

// .hrline {
//   width: 100%;
//   color: rgb(253, 0, 0);

// }

// table tr:first-child{
//       border-bottom:1px solid rgb(214, 48, 48);
// }

    
// td {
//     text-align: left;
//   }

     
// tr {
//     border-bottom: 1px solid black;
// }

// tr:first-child { 
//   border-bottom: 1px solid #555;
// }


// hr.test {
//     display: block;
//     margin-top: 0.5em;
//     margin-bottom: 0.5em;
//     margin-left: auto;
//     margin-right: auto;
//     border-style: inset;
//     border-width: 1px;
//   }

// hr {
//   width: 100%;
//   height: 0.5px;
//   // margin-left: auto;
//   // margin-right: auto;
//   background-color:#666;
//   // border: 0 none;
//   // margin-top: 100px;
//   // margin-bottom:100px;
// }


// tr.bordered {
//     border-bottom: 1px solid #000;
// }

.inputtext{
  width: 100%;
  height: 38px;
}


.modal {
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 46%;
  margin-top: -100px;
  padding: 32px;
  background-color: $color-white;
  box-shadow: 0 10px 10px 0 rgba($color-black, 0.16);
  
  border-radius: 16px;
  z-index: 1; 
  margin-left: 270px;

  &:last-of-type {
      margin-bottom: 0;
  } 
}

.modalcontainer{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
